body {
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #ffffff;
    color: #0000;
    max-width: 1920px;
    margin: 0 auto;

}
.container {
    margin: 0 20.1622%;
}
.header-slider {
    background-image: url(../img/You-create-the-journey.png),
    url(../img/Slider01.jpg) ;
    background-position: center 44%, center top;
    background-repeat: no-repeat, no-repeat;
    background-size: auto, 100%;
    height: 48rem;
}
.header-menu,
.footer-menu {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}
.header-menu img,
.footer-menu img {
    margin-right: auto;
    flex-basis: 10.7333rem;
}
.main-nav  {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center
}
.main-nav li {
    list-style: none;
    padding: 1.15rem;
}
nav a {
    text-decoration: none;
}
.sub-nav {
    position: absolute;
    display: none;
    border-radius: 0.866rem;
    background-color: #fcff19;
    padding-left: 1rem;
}
.main-link,
.sub-link {
    color: #fff;
    line-height: 2.1333rem;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem 0.6rem;
}
.sub-link {
    color: #000;
    padding-left: 0;
}
.sub-nav li {
    padding-left: 0;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 3.1333rem;
}
.sub-nav li:hover {
    background-color: #fff;
    border-radius: 0.866rem;
}
.main-link:hover{
    background-color: #fcff19;
    color: #000;
    border-radius: 0.866rem;
}
.main-nav li:first-child:hover .sub-nav {
    display: block;
}
.basket {
    cursor: pointer;
}
/*http://codepen.io/GauravBarde/pen/ozGzNB  hover effect*/
.slider-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 21rem;
}
.back,
.forward {
    align-self: flex-start;
    font-size: 2rem;
    cursor: pointer;
}
.forward {
    margin-right: 1rem;
}
.back {
    margin-left: 1rem;
}

 .shop-bike,
 .buy-it {
    background-color: #000000;
    color: #fcff19;
    border-radius: 0.866rem;
    padding: 0.6rem 1.73rem;
    font-family: "Roboto", sans-serif;
    border: none;
    line-height: 2rem;
    font-weight: 800;

}
/*--------------categories----------*/

.categories {
    background: url(../img/CATEGORIES_BG_IMAGE.jpg) no-repeat center;
    height: 37rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.categories-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-article {
    align-self: center;
        margin-bottom: 4rem;
}
.categories-photo {
    display: flex;
    justify-content: space-between;
}
.img-wrap{
    position: relative;
    z-index: 1;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.title-wrap {
    position: absolute;
    top: 39%;
    z-index: 2;
    text-align: center;
    line-height: 2.1333rem;
    align-self: center;
}
 .title-wrap .third-wrap {
    left: 6rem;
}
.title-wrap .second-wrap {
    left: 5rem;
}
.category-title {
    font-size: 1rem;
    color: #fcff19;
    font-weight: bold;
}
.category-offer {
    font-size: 1.05rem;
    color: #fff;
}
.link-to-store {
    display: none;
}
/*--------------popular-------------------*/
.title-popular {
    text-align: center;
    margin-top: 5rem;
}
.popular {
    display: flex;
    flex-direction: row;
}
.wrap-bike {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.wrap-buy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.buy-it {
    background-color: #b7b7b7;
    color: #fff;
    padding: 0.3rem 1.6rem;
    text-transform: uppercase;
}
.buy-it:hover {
    background-color: #000000;
    color: #fcff19;
}
.price {
    font-weight: lighter;
}
.contact-us {

    display: flex;
    flex-direction: column;
    background:url(../img/CONTACT_US_BG.jpg) no-repeat center;
    height: 40rem;
}
